.titles {
    background-image: url("../../img/videogames.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: white;
  }


.button {
    background-image: linear-gradient(
      to right,
      hsl(213, 100%, 26%) 0%,
      #000000 80%,
      #87005e 100%
    );
  }
  .button {
    position: absolute;
    margin-top: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
  }
  