.bg-go {
    background-image: url("../../img/gameOver.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: white;
  }


.btn-grad {
    background-image: linear-gradient(
      to right,
      #870000 0%,
      #000000 80%,
      #870000 100%
    );
  }
  .btn-grad {
    position: absolute;
    margin-top: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
  }
  